@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.chat-container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}
.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #000000;
}
.chat-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.messages{
  flex-grow: 1;
  overflow-y: auto;
}
* {
  font-family: 'Press Start 2P', monospace;
}
