.chat-container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}
.sidebar {
  background-color: #ffffff;
  border-right: 1px solid #000000;
}
.chat-main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}
.messages{
  flex-grow: 1;
  overflow-y: auto;
}